run = "node bot.js"
entrypoint = "bot.js"

[nix]
channel = "stable-23_05"

[deployment]
run = ["sh", "-c", "npm install --silent && node bot.js"]
deploymentTarget = "cloudrun"

[env]
NODE_ENV = "production"
